* {
    margin: 0;
    padding: 0;
}

.outfit-font {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.introduction {
    z-index: -1;
    width: 100 auto;
    height: 75vh;
    background-image: url(https://w.wallhaven.cc/full/dg/wallhaven-dgrxkj.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.introduction-content {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.introduction-content-text {
    grid-column: 1/8;
    grid-row: 6/9;
}

.p1 {
    font-size: 20px;
}

.image-00 {
    grid-column: 12/16;
    grid-row: 2/8;
    background-image: url(img/1733437613522.png);
    background-size: cover;
    background-position: center;
    border-radius: 25px;
}

.text-purple {
    color: #5601fa;
}

.text-orange {
    color: #fd7e14;
}

.bg-orange {
    background-color: #fd7e14;
}

.border-orange {
    border: 2px #fd7e14 solid;
}

.text-cyan {
    color: #0dcaf0;
}

.bg-cyan {
    background-color: #0dcaf0;
}

.border-cyan {
    border: 2px #0dcaf0 solid;
}

.border-purple {
    border: 2px #5601fa solid;
}

.text-yellow {
    color: #ffc107;
}

.bg-yellow {
    background-color: #ffc107;
}

.border-yellow {
    border: 2px #ffc107 solid;
}

.about {
    position: relative;
    top: 5rem;
}

.header-space {
    height: 72px;
}

.technologies {
    position: relative;
    width: 48rem;
    top: 8rem;
    left: 50vw;
    transform: translate(-50%, 0);
}

.technologies-container {
    display: grid;
    width: 48rem;
    height: 12rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.tech-box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
}

.proyects {
    position: relative;
    width: 48rem;
    top: 12rem;
    left: 50vw;
    transform: translate(-50%, 0);
}

.proyects-container {
    display: grid;
    width: 48rem;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.soft-skills {
    position: relative;
    width: 48rem;
    top: 18rem;
    left: 50vw;
    transform: translate(-50%, 0);
}

.soft-skills-container {
    display: grid;
    width: 48rem;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.skill-box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
}

.contact {
    position: relative;
    width: 15rem;
    top: 24rem;
    left: 50vw;
    transform: translate(-50%, 0);
}

.contact-container {
    display: grid;
    width: 15rem;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.contact-button {
    display: flex;
    color: black;
    transition: box-shadow 0.3s ease;
    width: 6rem;
    height: 6rem;
    text-decoration: none;
    outline: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
}

.contact-button:hover {
    cursor: pointer;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.coming-soon {
    grid-column: 2/4;
}

.menu-fixed {
    position: fixed;
    z-index: 256;
    width: 100vw;
    max-width: 100%;
}

@media (max-width: 798px) {
    .introduction {
        width: 100 auto;
        height: 100vh;
    }

    .introduction-content-text {
        grid-column: 1/16;
        grid-row: 9/9;
        text-align: center;
    }

    .image-00 {
        grid-column: 5/13;
    }

    .technologies {
        width: 80vw;
    }

    .technologies-container {
        display: grid;
        width: 80vw;
        height: auto;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 1rem;
        padding: 1rem;
    }

    .coming-soon {
        grid-column: 1/2;
    }
}

@media (max-width: 576px) {
    .introduction-content-text {
        font-size: 18px;
    }
}
